.advertisers-view-user-container{
    margin-left: 250px;
    margin-top: 70px;
}
.advertisers-view-user-head{
    color: #F18C00;

    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.24px;
    text-transform: capitalize;
}
