.advertisers-view-user-container{
    margin-left: 250px;
    margin-top: 70px;
}
.advertisers-view-user-head{
    color: #F18C00;

    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.24px;
    text-transform: capitalize;
}
.tabl{
    border: 1px solid black;
    border-collapse: collapse;
    
}
.tabl th {
    border: 1px solid #000000; /* Border for header cells */
    padding: 8px;
    text-align: left;
  }
  .tabl tbody tr {
    border: 1px solid #000000; 

    padding: 8px;
    text-align: left;
  }