.advertiser-view-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.advertiser-view-profile-name {
    color: #F18C00;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 10px;
}

.advertiser-view-profile-card {
    width: 400px;
    margin-top: 20px;
}

.advertiser-view-profile-img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.advertiser-view-profile-edit-profile {
    display: flex;
    width: 175px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    background: #333;
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 40px;
}

.advertiser-view-profile-info {
    color: #F18C00;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
}


.advertiser-view-profile-data {
    color: #333;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 15px;
}