.UserNavbar_logo_Blog_Color {
    color: #333;
    font-family: K2D;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.7px;
    text-transform: uppercase;
}

.UserNavbar_logo_color {
    color: #F18C00;
    font-family: K2D;
    font-size: 17px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.7px;
    text-transform: uppercase;
}

.UserNavbar {
    padding: 20px 100px 21px 100px;
    background: #F4F4F4;
}

.navbar-toggler-icon {
    background-color: #1C1C1C;
}

.user_navbar_links {
    color: #1C1C1C;
}

.user_navbar_links:hover {
    color: #1C1C1C;
}

.Navlitems_Margin{
    margin-right: 50px;
}