.advertisers-forget-password-container {
    display: flex;
}

.advertisers-forget-password-image {
height: 100vh;
}
.advertisers-forget-password-left{
    width: 50%;
}
.advertisers-forget-password-right{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 50%;
}

.advertisers-forget-password-head {
    color: #F18C00;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.advertisers-forget-password-para {
    color: #4D4D4D;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.advertisers-forget-password-email {
    display: flex;
    width: 360px;
    height: 40px;
    padding: 10px 15px;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
border: 1px solid #C7C7C7;
background: #FDFDFD;
}
.advertisers-forget-password-btn{
    display: flex;
width: 175px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
}