.admin-add-blog-container {
    margin-left: 250px;
    margin-top: 100px;

}

.admin-add-blog-card {
 width: 1100px;
   
    border-radius: 25px;
}

.admin-add-blog-head {
    color: #F18C00;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;

}

.admin-add-blog-dropdown-button {
    width: 347px;
}

.admin-add-blog-dropdown-button:hover {
    width: 367px;
    background: #FDFDFD;
    color: black;
}

.admin-add-blog-cardtwo-content {
    min-height: 300px;
}

.admin-add-blog-card-header {
    background-color: transparent;
    display: flex;
}

.admin-add-blog-card-title-field{
   margin-left: 100px;
}
.admin-add-blog-card-content-field{
    margin-left: 100px;
    width: 700px;
}


.admin-add-blog-edit-button {
    width: 200px;
}

.admin-add-blog-card-footer {
    margin-top: 20px;
    background-color: #FDFDFD;
}