{% extends 'core/base.html' %}
{% load static %}

{% block body %}
<div class="container-fluid min-vh-100 d-flex signup-page align-items-center justify-content-end">
    <div class="row w-100" style="width: 25% !important; margin-right: 120px;">
        <div class="login-form-section  p-5">
            <h1 class="login-title">Sign Up!</h1>
            <form method="post" enctype="multipart/form-data" class="registration-form">
                {% csrf_token %}
                {{ form.non_field_errors }}
                
                <div class="form-group mb-3">

                    {{ form.username }}
                    {{ form.username.errors }}
                </div>
    
                <div class="form-group mb-3">

                    {{ form.email }}
                    {{ form.email.errors }}
                </div>
                
                <div class="form-group mb-3">

                    {{ form.password }}
                    {{ form.password.errors }}
                </div>
    
                <div class="form-group">

                    {{ form.password_confirm }}
                    {{ form.password_confirm.errors }}
                </div>
    
                <button type="submit" class="registration-button">Sign Up</button>
            </form>
            <div class="signup mt-3">
                Already have an account ?  <a href="{% url 'accounts:login' %}">Login</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
