/* FandQ.css */

/* Container for F&Q page */
.f-and-q-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  flex-grow: 1;
}

/* Heading for F&Q */
.f-and-q-head {
  color: #F18C00;
  font-family: Lato, sans-serif; /* Ensuring the same font-family as in Services */
  font-size: 40px;
  font-weight: 700; /* Matching the font-weight used in Services */
  line-height: normal;
}

/* Paragraph for F&Q */
.f-and-q-para {
  margin-top: 30px;
  color: #7F7F7F;
  text-align: justify;
  font-family: Lato, sans-serif; /* Ensuring the same font-family as in Services */
  font-size: 17px; /* Matching the font-size used in Terms and Services */
  font-weight: 500; /* Matching the font-weight used in Services */
  line-height: 2.2;
  height: auto; /* Ensuring content flows and doesn't stretch to full height */
}
