
.f-and-q-page {
    display: flex;
    flex-direction: column;


  }
  

  .f-and-q-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex-grow: 1;
  }
  

  .f-and-q-head {
    color: #F18C00;
    font-family: Lato;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
  }
  

  .f-and-q-para {
    margin-top: 30px;
    color: #7F7F7F;
    text-align: justify;
    font-family: Lato;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    height: 100vh;
  }
  
  
 