.section-one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.services-section-one-head {
    color: #F18C00;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.services-section-one-para {
    color: #7F7F7F;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.services-section-two-picture-size {
    height: 77px;
    width: 77px;
}
.services-section-two-card{
    border: none;
    padding: 0;
}

.services-section-two-card-header {
    color: #7F7F7F;
    background-color: #FFF;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    padding : 0;
    margin-top: 20px;
}
.services-section-two-card-para{
    color: #7F7F7F;
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding : 0;
margin-top: 20px;
}
.services-section-two-card-row{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;

}