{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Sphere</title>
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <!-- Header Section -->
   {% include "core/navbar.html" %}
    
    <!-- Main Content Placeholder -->
    <div class="content">
    {% block body %}
    
    {% endblock %}
    </div>
<!-- Footer Section -->
    {% include "core/footer.html" %}
    
 <!-- Bootstrap JS with Popper -->
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-vu6h8PqxYAfWAFywb61r9HlTWll7HRkPGbYkqxyH5pgMwV6AkHuZi4zKjzqrgwtF" crossorigin="anonymous"></script>
</body>
</html>
