.userfp-forgetpassword-head {
    color: #F18C00;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.userfp-forgetpassword-para {
    color: #4D4D4D;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.userfp-email {
    display: flex;
    width: 360px;
    height: 40px;
    padding: 10px 15px;
    align-items: center;
    gap: 10px;
}

.userfp-next-button {
    border-radius: 5px;
    background: #333;
    display: flex;
    width: 175px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
    margin: auto;
}
.userfp-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

@media(max-width:600px) {
    .userfp-left {
        display: none;
    }

    .userfp-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        padding: 20px;
    }
    .userfp-next-button{
        width: 100%;
    }
}