.admin-dashboard {
    width: 250px;
    height: 100vh;
    background-color: #333333;
    position: fixed;
    top: 0px;
    left: 0px;
}

.admin-dashboard-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
}

.admin-dashboard-text-color {
    color: #FFFFFF;
}

.admin-dashboard-btn {
    border-radius: 32px;
    background-color: #F18C00;
    color: #FFFFFF;
    width: 90%;
}

.admin-dashboard-listdecor {
    list-style: none;
    text-decoration: none;
    color: #FFFFFF;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.16px;
    text-transform: capitalize;

}

.navbar-component {
    height: 70px;
    background: #F4F4F4;
    position: fixed;
    top: 0px;
    left: 250px;
    width: calc(100% - 250px); 
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-dashboard-navbar-head-color {
    color: #333;
    font-family: K2D;
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 1.7px;
    text-transform: uppercase;
}

.admin-dashboard-navbar-span-color {
    color: #F18C00;
    font-family: K2D;
    font-size: 17px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 1.7px;
    text-transform: uppercase;
}