
.signup-container {
    display: flex;
    flex-direction: row; 
    height: 100vh; 
}


.SignUp_Page_Img{
    background-size: cover;
    width: 100%;
    height: 100%;
}
.error {
    color: red;
    font-size: 20px;
    margin-top: 5px;
    margin-left: 5px;
  }

.Signup_RightSide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 50%; 
    height: 100%;
    background: #FFF;

}

.Signup_RightSide_head {
    color: #F18C00;
    text-align: center;
    font-family: Lato;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
}

.form-control {
    width: 500px;
    border-radius: 10px;
    padding: 10px;
}

.Signup_Button{
    display: flex;
width: 175px;
padding: 10px;
justify-content: center;
background: #333;
color: white;
margin: auto;
}


@media (max-width: 768px) {
    /* Adjust the flex container for small screens */
    .signup-container {
        flex-direction: column; /* Stack vertically on small screens */
    }

    .Signup_LeftSide {
        display: none; /* Hide the left side image */
    }

    .Signup_RightSide {
        width: 100%;
        height: 100vh;
        padding: 20px;
        box-sizing: border-box;
    }

    .form-control {
        width: 100%; /* Ensure input fields take full width */
        min-width: 400px; /* Limit width for readability */
        margin-bottom: 15px;
    }

    .Signup_Button[type="submit"] {
        width: 100%;
        max-width: 400px; /* Same width as the form fields */
        padding: 10px;
    }
}
