.advertisers-reset-password-head {
    color: #F18C00;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.advertisers-reset-password-image {
    height: 100vh;
}

.advertisers-reset-password-container {
    display: flex;
}
.advertisers-reset-password-left{
    width: 50%;
}
.advertisers-reset-password-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.advertisers-reset-password-para {
    color: #4D4D4D;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.advertisers-reset-password-newpass {
    display: flex;
    width: 360px;
    height: 40px;
    padding: 10px 15px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #C7C7C7;
    background: #FDFDFD;
    margin-bottom: 20px;
}

.advertisers-reset-password-confirmpass {
    display: flex;
    width: 360px;
    height: 40px;
    padding: 10px 15px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #C7C7C7;
    background: #FDFDFD;
    margin-bottom: 20px;
}
.advertisers-reset-password-btn{
    display: flex;
width: 175px;
padding: 10px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 5px;
background: #333;
}